html {
    font-size: 10px;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    overflow: hidden;
    color: azure;
}


.layout__video {
    width: 100%;
    height: 100%;
}


.layout__content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content__title {
    font-size: 5rem;
    text-shadow: 0 0 1rem purple;
    padding: 2rem;
    margin-bottom: 1rem;
}

.content__btn {
    display: block;
    width: 16rem;
    border: 2px solid azure;
    background-color: azure;
    padding: 2rem;
    font-weight: 500;
    color: gray;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
    margin: 0 auto ;
    transition: all 300ms ease-in-out;

}

.content__btn:hover {
    background-color: rgb(8,4,69);
    color: gray;
}