@font-face {
    font-family: Roboto, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap');
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    color: #333;
}

h1{
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    color: #333;
}

h2{
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    color: #333;
}

h3  {
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    color: #333;
}