*{
    box-sizing: border-box;
}

.menu__pri {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px;
    background-color: black; 
    padding: 10px;
    margin: 5px;
    border-radius: 10px;  
}
a {
    text-decoration: none;
    color: red;
}


.main__menu {
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.menu__list {
    list-style-type: none;
    cursor: pointer;

}

.main__menu:hover {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    animation-name: menu;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}


@keyframes menu {
    50% {
        background-color: whitesmoke;
    }
    100% {
        background-color: red;
    }
}

