html {
    font-size: 10px;
}

body{
    font-family: 'Monsetrrat', sans-serif;
    font-size: 1.6rem;
}

.layout {
    width: 100%;
    height: 100%;
    background-color: rgb(237,242,246);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout__main {
    min-width: 90rem;

}

.main__title{
    font-size: 2.2rem;
    color: rgb(194, 93, 58);
    text-align: center;
    margin-bottom: 3rem;

}

.main__prices{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.prices__price{
    flex-basis: 33%;
    background-color: rgb(255, 255, 255);
    padding: 4rem;
    margin-right: 1.5rem;
    border-radius: 1.5rem 0 0 1.5rem;
    text-align: center;
}

.prices__price:last-child{
    border-radius: 0 1.5rem 1.5rem 0;
}

.prices__price--zoom{
transform: scale(1.1);
background-color: rgb(194, 93, 58);
border-radius: 1.5rem;
}

.prices__price--zoom .price__subtitle,
.prices__price--zoom .price__title,
.prices__price--zoom .price__number,
.prices__price--zoom .price__detail
{
    color: rgb(255, 255, 255);
}

.prices__price--zoom .price__detail {
    border-color: gainsboro;
}


.prices__price--zoom .price__button{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background-color: white;
    color: rgb(194, 93, 58);
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 300ms ;
    
}

.prices__price--zoom .price__button:hover{
    background-color: rgb(194, 93, 58);
    color: white;
    border: 1px solid white;
    
}


.price__subtitle{
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    color: gainsboro;
    margin-bottom: 1rem;
}

.price__number {
    font-size: 4rem;
    font-weight: 600;
    color: rgb(194, 93, 58);
    margin-bottom: 1rem;
}


.price__title{
    font-size: 2.2rem;
    font-weight: 600;
    color: rgb(194, 93, 58);
    margin-bottom: 1rem;
}


.price__detail{
    font-size: 1.6rem;
    color: gainsboro;
    margin-bottom: 1rem;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1rem;
}

.price__button{
    display: inline;
    background-color: rgb(194, 93, 58);
    color: white;
    border: 1px solid transparent;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    margin: 5px;
    cursor: pointer;
    transition: all 300ms ;
}

.price__button:hover{
    background-color: white;
    color: rgb(194, 93, 58);
    border: 1px solid rgb(194, 93, 58);
}

.main__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.toggle__label{
    font-weight: 600;
    font-size: 1.4rem;
    color: black;
}

.toggle__switch {
    display: inline-block;
    width: 5rem;
    height: 2.8rem;
    position: relative;
}

.toggle__checkbox{
    display: none ;
}

.toggle__slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: gainsboro;
    transition: all 300ms ease;
 
}


.toggle__slider:before{
    content: "";
    width: 2rem;
    height: 2rem;
    top: 0.4rem;
    bottom: 0.4rem;
    position: absolute;
    border-radius: 100px;
    background-color: white;
    transition: all 300ms ease;
    
}

.toggle__checkbox:checked + .toggle__slider{
    background-color: rgb(194, 93, 58);
}


.toggle__checkbox:checked + .toggle__slider:before{
    transform: translateX(30px);
}


