body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: azure;
}


.article {
    width: 280px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    background-color: navajowhite;
    float: left;
}

.clear__fix {
    float: none;
    clear: both;
}

